Points: {{ .Points.Amount }} ({{ (index .Points.Expirations 0).Quantity }} points expiring on {{ (index .Points.Expirations 0).ExpirationDate }})

Rewards:
{{- range .Redeemables }}
  {{ .Name }}:
  {{- range .Expirations }}
    {{ .Quantity }} expires in {{ .DaysToExpire }} days ({{ .ExpirationDate }})
  {{- end }}
{{- end }}

Punch Cards:
{{- range .PunchCards }}
  {{ .Name }}: {{ .Amount }}
{{- end }}
