Points: {{ .Points.Amount }}

Rewards:
{{- range .Redeemables }}
  {{ .Name }}:
  {{- range .Expirations }}
    {{ .Quantity }} expires in {{ .DaysToExpire }} days ({{ .ExpirationDate }})
  {{- end }}
  {{ else }}
  None
{{- end }}

Punch Cards:
{{- range .PunchCards }}
  {{ .Name }}: {{ .Amount }}
{{- end }}
