Points: {{ .Points.Amount }} ({{ (index .Points.Expirations 0).Quantity }} points expiring on {{ (index .Points.Expirations 0).ExpirationDate }})

Rewards:
{{- range .Redeemables }}
  {{ .Name }}:
  {{- range .Expirations }}
    {{ .Quantity }} expires in {{ .DaysToExpire }} days ({{ .ExpirationDate }})
  {{- end }}
  {{ else }}
  None
{{- end }}

Punch Cards:
{{- range .PunchCards }}
  {{- if or .Name .Title}}
  {{if .Name}}{{ .Name }}{{else}}{{.Title}}{{end}}: {{ .Amount }}
    {{if .Subtitle}}({{ .Subtitle }}){{end}}
  {{- end }}
{{- end }}
